<div class="container mt-5">
    <div class="jumbotron ">
      <h1 class="display-4">Welcome to TechPilot</h1>
      <p class="lead">Your Destination for Cutting-Edge Electronics</p>
      <hr class="my-4">
      <p class="lead">At TechPilot, we are on a mission to bring innovation to your fingertips. Our passion for technology drives us to curate a collection of the latest and most advanced electronics, ensuring that you stay ahead in the fast-paced world of tech.</p>
  
      <div class="row">
        <div class="col-md-6">
          <h4>Why Choose TechPilot?</h4>
          <ul class="list-group">
            <li class="list-group-item">✓ <strong>Curated Selection:</strong> Discover a carefully curated selection of smartphones, laptops, smartwatches, audio devices, and more. We handpick each product to guarantee quality and performance.</li>
            <li class="list-group-item">✓ <strong>Technology Trends:</strong> Stay informed about the latest technology trends and advancements. Our team is dedicated to staying ahead of the curve to bring you the next big thing in electronics.</li>
            <li class="list-group-item">✓ <strong>Customer-Centric Approach:</strong> Your satisfaction is our priority. TechPilot is committed to providing excellent customer service, ensuring a seamless shopping experience from browsing to delivery.</li>
            <li class="list-group-item">✓ <strong>Secure Transactions:</strong> Shop with confidence. We prioritize the security of your transactions, employing the latest encryption technologies to safeguard your personal and financial information.</li>
          </ul>
        </div>
  
        <div class="col-md-6">
          <h4>Join the TechPilot Community</h4>
          <p class="lead">Connect with us on social media, join discussions, and share your experiences with our products. Your feedback is invaluable in shaping the future of TechPilot.</p>
        </div>
      </div>
  
      <p class="lead mt-4">Thank you for choosing TechPilot for all your electronic needs. We look forward to being your trusted partner in the world of technology.</p>
    </div>
  </div>
  