<!-- product-details.component.html -->

<div class="container mt-4">
  <ng-container *ngIf="product; else loadingTemplate" [@fadeIn]>
    <div class="row">
      <div class="col-md-4">
        <img
          [src]="product.image"
          alt="{{ product.title }}"
          class="img-fluid rounded"
          style="max-height: 400px"
        />
      </div>
      <div class="col-md-6 align-middle">
        <h2>{{ product.title }}</h2>
        <p>Description: {{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Category: {{ product.category }}</p>

        <!-- Separate line for stars -->
        <div class="rating mt-2">
          <span
            *ngFor="let _ of getStars(product.rate)"
            class="star"
            style="color: rgb(225, 198, 17); font-size: x-large"
            >&#9733;</span
          >
          <span class="rating-count">
            {{ product.rate.toFixed(1) }} ({{ product.rateCount }} reviews)
          </span>
        </div>

        <div class="form-group mt-3 d-flex align-items-center">
          <label for="quantity" class="mr-2">Quantity: </label>
          <div class="custom-quantity-input ms-3">
            <input
              type="number"
              id="quantity"
              name="quantity"
              [(ngModel)]="quantity"
              required
              class="form-control text-center w-75"
              min="1"
            />
          </div>
        </div>

        <!-- Error alert for non-integer quantity -->
        <div class="alert alert-danger mt-3" role="alert" *ngIf="showError">
          Quantity must be an integer.
        </div>

        <!-- Button with (click) event to add product to the cart -->
        <button class="btn btn-success mt-3" (click)="addToCart()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="18"
            viewBox="0 0 576 512"
          >
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
              fill="white"
            />
          </svg>
          Add to Cart
        </button>

        <!-- You can add other UI elements like quantity input, etc. -->
      </div>
    </div>
  </ng-container>

  <ng-template #loadingTemplate>
    <div
      class="d-flex justify-content-center align-items-center"
      style="min-height: 300px"
    >
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">.</span>
      </div>
    </div>
  </ng-template>
</div>
