<!-- profile.component.html -->

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>My Profile</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="updateUser()" #profileForm="ngForm">
            <div class="row form-group">
              <div class="col-md-6 mb-3">
                <label for="email"> Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-envelope p-1"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    [(ngModel)]="user.email"
                    name="email"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="username"> Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-at p-1"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    disabled=""
                    [(ngModel)]="user.username"
                    name="username"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-6 mb-3">
                <label for="firstName">First Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user p-1"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    [(ngModel)]="user.firstName"
                    name="firstName"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName"> Last Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user p-1"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    [(ngModel)]="user.lastName"
                    name="lastName"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-6 mb-3">
                <label for="address"> Address</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-map-marker-alt p-1"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    [(ngModel)]="user.address"
                    name="address"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="phoneNumber">Phone Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-phone p-1"></i
                    ></span>
                  </div>
                  <input
                    type="tel"
                    class="form-control"
                    id="phoneNumber"
                    [(ngModel)]="user.phoneNumber"
                    name="phoneNumber"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12 mb-3">
                  <label for="password"> Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock p-1"></i></span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      [(ngModel)]="user.password"
                      name="password"
                      required
                      minlength="8" 
                    />
                  </div>
                  <div *ngIf="profileForm.controls['password']?.hasError('minlength')" class="text-danger mt-2">
                    Password must be at least 8 characters long.
                  </div>
                </div>
                <!-- Add more label and input pairs as needed -->
              </div>
              

            <button type="submit" class="btn btn-success w-100">
              Update Profile
            </button>
          </form>
          <!-- Add this after the form -->
          <div *ngIf="updateSuccess" class="alert alert-success mt-3">
            Profile updated successfully!
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
